<div class="col">
  <% @garden_vegetables.each do |garden_vegetable| %>
    <div class="card-vegetable">
      <div class="vege-photo">
        <%= image_tag("courgette-photo.png", class: "card-vege-photo") %>
      </div>
        <h2><%= garden_vegetable.vegetable.specie.capitalize%></h2>
      <div class="d-flex justify-content-between">
        <% if garden_vegetable.vegetable.seeding_start? %>
          <p><em>Seeding</em> <br> From <%= garden_vegetable.vegetable.seeding_start.strftime("%b")%> to <%=garden_vegetable.vegetable.seeding_end.strftime("%b") %></p>
        <% else %>
          <p><em>Planting</em> <br> From <%= garden_vegetable.vegetable.planting_start.strftime("%b")%> to <%=garden_vegetable.vegetable.planting_end.strftime("%b") %></p>
        <% end %>
        <div class="d-flex align-items-center">
          <%= link_to 'See More', '#', class: 'button-see' %>
        </div>
      </div>
    </div>
  <% end %>
</div>
