<div class="edit-container d-flex">
  <div class="sidebar-container">
    <%= link_to(image_tag("Logo-Easy-Garden.png", :title => "Home", class: "logo-easy-garden"), "/") %>
    <%#= link_to image_tag("Logo-Easy-Garden.png", class: "logo-easy-garden") %>
    <div class="title-sidebar">
      <h2>Vegetables</h2>
    </div>
    <%= render 'vegetables/index'%>
  </div>

  <div class="right-part">
    <div class="top-title d-flex justify-content-around">
      <div class="title-garden">
        <h1>Let's design my garden</h1>
        <h4>  Add vegetables in your virtual garden</h4>
      </div>
      <div class="garden-button">
        <form  action="/garden_vegetables" method="post" >
          <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
          <%= hidden_field_tag :garden_id, @garden.id %>
          <label class="hidden" for="data-spot"></label>
          <input class="hidden" type="text" id="data-spot" name="data-spot"></input>
          <button class="button-edit-save test-data">Save !</button>
        </form>
      </div>
    </div>

    <div>
      <%= render "shared/garden_draggable", garden_vegetables: @garden_vegetables, mode: "edit" %>    </div>


  </div>

  <div class="container-info">
    <div class="vegetable-description">
      <%= render 'vegetables/show' %>
    </div>
  </div>
</div>
