<% content_for :meta_title, "#{@garden_vegetables.name} is on #{DEFAULT_META["meta_product_name"]}" %>

<%# content_for :meta_description, @offer.description %>
<%# content_for :meta_image, cl_image_path(@garden_vegetables.photo.path) %>
<div class="container-div d-flex">

  <div class="sidebar-container">
    <%= image_tag("Logo-Easy-Garden.png", class: "logo-easy-garden") %>
    <div class="title-sidebar">
      <h2>Next tasks</h2>
    </div>
    <%= render 'tasks/index' %>
  </div>

  <div class="right-part">

    <div class="top-title d-flex justify-content-around">
      <div class="title-garden" >
        <h1>Take a look on <%= @garden.title %></h1>
        <h5>Stay informed of the next steps</h5>

      </div>
      <div class="garden-button">
        <button class="button-edit-save"><%= link_to "Edit", edit_garden_path  %> </button>
      </div>
    </div>
    <div>
      <%= render "shared/garden_draggable", garden_vegetables: @garden_vegetables, mode: "show" %>
          </div>

  </div>



  <div class="container-info">
    <div class="vegetable-description">
      <%= render 'tasks/show' %>
    </div>
  </div>
</div>

